
/* Font faces */
/* -------------------------------------------------- */

@font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    src: url("../fonts/SF-Pro-Display-Light.otf");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("../fonts/SF-Pro-Text-Regular.otf");
}

/* Reset CSS */
/* -------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
/* -------------------------------------------------- */

/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    background-color: #FEFEFE;
}

.content {
    max-width: 980px;
    margin: 0 auto;
}

header, section, footer {
    padding: 40px 80px;
}

h1, p {
    line-height: 1.29em;
}

p {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.29em;
}

a {
    cursor: pointer;
    transition: transform 0.4s;
}

/* Headline section */

.headline-wrapper {
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.headline-wrapper .links {
    align-self: flex-start;
    width: 230px;
    text-align: right;
}

.headline-wrapper h1 {
    align-self: center;
    justify-self: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

h1 .author-name {
    font-weight: 600;
}

.links a {
    display: inline-block;
    margin-left: 15px;
}

.links a:hover {
    transform: scale(1.1);
}

/* Apps section */

.portfolio-wrapper {
    width: 100%;
    background: center no-repeat url("../assets/styles/portfolio-background.jpg");
    background-size: cover;
    background-color: #111;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
}

.app {
    text-align: center;
    margin: 0 65px;
}

.app-icon {
    display: block;
    width: 129px;
    height: 129px;
    margin: 0 auto;
}

.app-name {
    margin-top: 15px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}

/* About */

.about {
    padding-top: 60px;
}

/* Footer */

.footer-action-call {
    padding-top: 0;
    text-align: center;
}

.footer-action-call nav {
    margin-bottom: 35px;
}

.footer-action-call p:last-child {
    font-size: 16px;
    margin-bottom: 0;
}

.contact-call-action {
    display: inline-block;
}

.contact-call-action:hover {
    transform: scale(1.1);
}

.contact-call-action img {
    display: inline-block;
    width: 80px;
    height: 80px;
}
